body {
  margin: 10px;
  /* font-family: "나눔스퀘어", "나눔고딕", "맑은 고딕", 돋움, sans-serif; */
}
.borderTop {
  border-top: 1px solid #000;
  margin: 10px 0;
  padding: 10px 0;
}
.margin-10 {
  margin: 10px;
}
.padding-10 {
  padding: 10px;
}
